body {
    background: linear-gradient(to bottom, black, purple);
    text-align: center;
}
p {
    font-size: 24px;
    color: white;
    text-align: center;
    margin-top: 100px;
}
button {
    font-size: 24px;
    padding: 16px 32px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 8px;
    margin: 16px;
    cursor: pointer;
}
button:hover {
    background-color: black;
    color: white;
    text-align: center;
}

.logo {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 48px;
    color: #fff;
    text-shadow: 2px 2px #000;
}