body {
    background: rgb(22, 12, 49);
    text-align: center;
    background-image: url("./background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
}
p {
    font-size: 24px;
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
button {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 24px;
    padding: 16px 32px;
    background-color: white;
    color: rgb(34, 19, 75);
    border: none;
    border-radius: 8px;
    margin: 16px;
    cursor: pointer;
}
button:hover {
    background-color: rgb(68, 0, 71);
    color: white;
    text-align: center;
}

.logo {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 48px;
    color: #fff;
    text-shadow: 2px 2px #000;
}
.message {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 20px;
    color: #fff;
    text-shadow: 2px 2px #000;

}
.breath {
    margin-top: 100px;
}
.elite {
    background-color: rgb(120, 27, 27);
    color: rgb(208, 196, 240);
}
.elite:hover {
    background-color: rgb(199, 40, 40);
    color: rgb(208, 196, 240);
}
